html {
    height: 100%;
    flex: 1;
}

body {
    background-image: linear-gradient(to bottom right, #333, rgb(83, 83, 216));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

audio {
    display: none;
}
.about {
    width: 900px;
    border: 15px;
    padding: 50px;
    background-color: gainsboro; 
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: fit-content;
}